{
  "discordKey":"yourDiscordToken",
  "bitlyKey":"34a2be553aabcc52e43bfe2c04fcdc53109906e2",
  "teamRole":"Pigeoncoin",
  "firebase":{
    "apiKey": "JSdkfjslfjslJFSLDkfjsdlkfjsd",
    "authDomain": "your-project.firebaseapp.com",
    "databaseURL": "https://your-project.firebaseio.com",
    "projectId": "your-project",
    "storageBucket": "your-project.appspot.com",
    "messagingSenderId": "435783658734"
  }
}
